@model List<SistemaCarrosMVC.Models.Carro>

<h2>Carros</h2>

<a asp-action="Criar" class="btn btn-primary">Novo Veiculo</a>
<table class="table mt-3">
    <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Ano</th>
        <th>Preço Revisão</th>
        <th>Ações</th>
    </tr>

@foreach(var Veiculo in Model){
    <tr>
        <td>@Veiculo.Modelo</td>
        <td>@Veiculo.GetType().Name</td>
        <td>@Veiculo.Ano</td>
        <td>@Veiculo.CalcularRevisao()</td>

        <td>
        <a asp-action="Deletar" asp-route-id="@Veiculo.id" class="btn btn-danger">Excluir</a>
        </td>
    </tr>
}
</table>